
<div class="banner">
   <div class="row">
      <div class="col text-center">
      <h1>WELCOME ON LAZ'IN</h1>
      <h3>Find the best people to do what you hate having to do!</h3>
    </div>
  </div>
</div>

<div class="container d-flex">
  <div class="card">
    <h2>SERVICE NAME</h2>
    <div class="info">
      <h3>20€</h3>
      <h3>PARIS, 75013</h3>
    </div>
    <div class="overflow-hidden">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur accusamus laudantium vero sequi consequuntur iste nam perferendis. Dignissimos, illum nesciunt a accusamus odio harum distinctio, in expedita omnis obcaecati suscipit.</p>
    </div>
  </div>

  <div class="card">
    <h2>SERVICE NAME</h2>
    <div class="info">
      <h3>20€</h3>
      <h3>PARIS, 75013</h3>
    </div>
    <div class="overflow-hidden">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur accusamus laudantium vero sequi consequuntur iste nam perferendis. Dignissimos, illum nesciunt a accusamus odio harum distinctio, in expedita omnis obcaecati suscipit.</p>
    </div>
  </div>

  <div class="card">
    <h2>SERVICE NAME</h2>
    <div class="info">
      <h3>20€</h3>
      <h3>PARIS, 75013</h3>
    </div>
    <div class="overflow-hidden">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur accusamus laudantium vero sequi consequuntur iste nam perferendis. Dignissimos, illum nesciunt a accusamus odio harum distinctio, in expedita omnis obcaecati suscipit.</p>
    </div>
  </div>

  <div class="card">
    <h2>SERVICE NAME</h2>
    <div class="info">
      <h3>20€</h3>
      <h3>PARIS, 75013</h3>
    </div>
    <div class="overflow-hidden">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur accusamus laudantium vero sequi consequuntur iste nam perferendis. Dignissimos, illum nesciunt a accusamus odio harum distinctio, in expedita omnis obcaecati suscipit.</p>
    </div>
  </div>
</div>
