
<div class="container">
   <div class="row">
      <div class="col">
      <h1>Welcome on Laz'In</h1>
      <h3>Find the best people to do what you hate having to do!</h3>
    </div>
  </div>
</div>
