
.card-category{
  background-color: #FDFEFF;
  width: 320px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0px 2px 4px lightgray;
  position: relative;
  margin: 0px 10px;
  background-size: cover;
  // background-position-y: -40px;


  h2{
    color: #FDFEFF;
    font-family: chaparral-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    margin-top: 130px;

  }

}
