
.card{
  background-color: #FDFEFF;
  width: 320px;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0px 2px 4px lightgray;
  position: relative;
  margin: 0px 10px;

  h2{
    font-family: chaparral-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    text-align: center;
    padding-top: 15px;
  }

  .info{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: flex-end;
  }
  h3{
    font-family: chaparral-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    padding: 0px 15px;
    color: #ABB9C9;
  }
}


.overflow-hidden{
  height: 135px;
  line-height: 19px;
  padding: 0px 15px;
  p{
    align-items: flex-end;
    font-family: chaparral-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
