// Import your components CSS files here.
@import "alert";
@import "button";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "search_bar";
@import "cardoffer";
@import "cardcategory";

@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

.title {
  font-family: 'Kavoon', cursive;
  background-color: white;
  border-radius: 5px ;
}
